body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: Arial, sans-serif;
    background-color: #000;
    
}
#loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 9999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 8vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function:linear;
}
#loader h1:nth-child(2){
    animation-delay: 1.5s;
}
#loader h1:nth-child(3){
    animation-delay: 2.5s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.top-bar {
    background-color: #000000;
    padding: 10px 20px;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    color: #ddd;
}

.top-bar-links a {
    margin-right: 15px;
    color: #f8f3f3;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 15px 20px;
    color: #fff;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 999;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-actions {
    display: flex;
    align-items: center;
}

.sign-in, .subscribe {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

.sign-in:hover, .subscribe:hover {
    background-color: #444;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.search-container .search-btn {
    background-color: #ddd;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.search-container .search-btn:hover {
    background-color: #ccc;
}

.pallate{
    margin: 20px;
    margin-right: 40px;
    margin-left: 40px;
    border: #000;
    border-radius: 0px;
}





/* SELECTED BG GRADIENT */
  /* background: rgb(0,105,130);
    background: radial-gradient(circle, rgba(0,105,130,1) 0%, rgba(0,0,0,1) 64%); */  





#gradientBackground{
    /* background-image: linear-gradient(to bottom right,black,rgb(23, 23, 125),black);  */
    background: rgb(0,105,130);
    background: radial-gradient(circle, rgba(0,105,130,1) 0%, rgba(0,0,0,1) 64%);
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background: rgb(3,142,176);
background: -moz-radial-gradient(circle, rgba(3,142,176,1) 0%, rgba(0,0,0,1) 59%);
background: -webkit-radial-gradient(circle, rgba(3,142,176,1) 0%, rgba(0,0,0,1) 59%);
background: radial-gradient(circle, rgba(3,142,176,1) 0%, rgba(0,0,0,1) 59%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#038eb0",endColorstr="#000000",GradientType=1);*/
}

/* heading styles */
/* .homepage-heading-text{
    
}
.heading-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-welcome h1{
    font-size: 70px;
} */
.homepage-heading-text {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    
}

.homepage-heading-text header {
    text-align: center;
}

header {
    text-align: center;
    margin-bottom: 130px;
}

#typing-text {
    font-size: 7em;
    font-weight: bold;
    color: #ffffff;
    border-right: 2px solid #333;
    white-space: nowrap;
    overflow: hidden;
    
}

#shadow-text {
    font-size: 2em;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(255, 255, 255)k; /* For WebKit-based browsers */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Fallback for other browsers */
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}






#scrollContainer {
    height: 2000px; /* Adjust this height as needed for scrolling */
}


.stocks-animated-video-1{
    margin: 30px;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
}
.stocks-animated-video-1 video{
    height: 100%;
    width: 100%;
}

/* .bg-video1-pallate{
    
} */

.about-us-capify{
    margin-left: 180px;
    margin-right: 180px;
    
}
.about-us-capify-text{
    font-size: 1.5em;
    color: #f8f3f3;
    position:relative;
    z-index: 90;
}
.about-us-capify-text h1{
    font-size: 2em;
}



/* Footer Styles */
.footer {
    background-color: #021f42;
    color: white;
    padding: 20px 0;
    margin-top: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.footer-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #3A4553;
}

.footer-social {
    display: flex;
    justify-content: space-between; /* Ensure equal spacing */
    align-items: center;
    width: 100%; /* Full width to utilize available space */
    max-width: 600px; /* Max width to prevent stretching */
}

.social-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 14px; /* Adjust font size as needed */
}

.social-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px; /* Space between icon and text */
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer-logo {
    font-size: 20px;
    font-weight: bold;
}

.footer-country {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-country span {
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;
}

.footer-country span:hover {
    background-color: #3A4553;
}


/* Image Background Section ane parallax mate che aa */
.image-background {
    position: relative;
    height: 600px;
    background: url("./img/img for parallax 2.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6); 
}

.image-background-content {
    text-align: center;
    background: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.image-background h1 {
    font-size: 3em;
    margin: 0;
}

.image-background p {
    font-size: 1.5em;
}

/* main vaat che ke image shodhine nakhvaani */
/* Parallax Container nu css */
.parallax {
    position: relative;
    height: 500px;
    background: url("./img/img for paralax 1.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6); 
}

.parallax-content {
    position: absolute;
    color: #fff; 
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.parallax h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.parallax p {
    font-size: 1.2em;
}
.about-us-capify {
    margin: 20px auto;
    padding: 0 10px;
}

.about-us-capify-text {
    font-size: 1.2em;
    color: #f8f3f3;
    position: relative;
    z-index: 90;
    text-align: center; /* Center text for smaller screens */
}

.about-us-capify-text h1 {
    font-size: 1.8em; /* Adjust font size for h1 */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .about-us-capify {
        margin-left: 10px;
        margin-right: 10px;
    }

    .about-us-capify-text {
        font-size: 1em; /* Smaller font size for mobile */
    }

    .about-us-capify-text h1 {
        font-size: 1.5em; /* Smaller font size for h1 on mobile */
    }
}

@media (max-width: 480px) {
    .about-us-capify {
        margin-left: 5px;
        margin-right: 5px;
    }

    .about-us-capify-text {
        font-size: 0.9em; /* Even smaller font size for smaller screens */
    }

    .about-us-capify-text h1 {
        font-size: 1.2em; /* Smaller font size for h1 on very small screens */
    }
}
