/* CSS Variables for easy theming */
:root {
  --primary-color: #3498db; /* Bright blue */
  --secondary-color: #2c3e50; /* Dark blue/black */
  --background-color: #101010;
  --text-color: #ecf0f1;
  --header-color: #333;
  --gradient-start: #1e2a38; /* Dark blue/black */
  --gradient-end: #3498db; /* Bright blue */
  
}

  #loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 9999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #loader h1{
    font-size: 8vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function:linear;
  }
  #loader h1:nth-child(2){
    animation-delay: 1.5s;
  }
  #loader h1:nth-child(3){
    animation-delay: 2.5s;
  }
  
  @keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
  }
  
  /* Body */
  body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
    padding: 0;
    
  }
  
  /* Navbar */
  .navbar {
    background-color: rgba(6, 10, 14, 0.8); /* Slightly Transparent Dark Blue */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-brand {
    color: #ffffff; /* White */
  }
  
  .navbar-brand:hover {
    color: #ffffff; /* Bright Blue */
  }
  
  .navbar-nav .nav-link {
    color: #fbfbfb; /* White */
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }
  
  .navbar-nav .nav-link:hover {
    color: #9fd6fa;
    text-shadow: 0 0 10px rgba(52, 152, 219, 0.9); /* Slight Glow Effect */
  }
  
  .navbar-nav .nav-link:active {
    color: #111010; /* Bright White */
  }
  
  /* Dropdown Menu */
  .navbar-nav .dropdown-menu {
    background-color: #22313f; /* Darker Blue */
    border: 1px solid #3498db; /* Bright Blue Border */
  }
  
  .navbar-nav .dropdown-item {
    color: #ecf0f1; /* White */
  }
  
  .navbar-nav .dropdown-item:hover {
    background-color: #34495e; /* Slightly Lighter Dark Blue */
    color: #ffffff; /* Bright White */
  }
  /* .nav-item a{
    color: rgb(0, 0, 0);
    text-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  } */
  .logo{
    height: 3em;
    margin: 0.5em;
  }
  
  /* Hero Section */
  .hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  /* Video Background */
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    opacity: 0.8;
  }
  
  #background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
  
  /* Hero Content */
  .hero-content {
    text-align: center;
    color: var(--text-color);
    z-index: 1;
    animation: fadeIn 2s ease-in;

  }
  
  .hero-content h1 {
    font-size: 4em;
    margin-bottom: 10px;
    background: linear-gradient(90deg,#ffffff, #6c6868, #e5e3e2,#ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeInDown 1s ease-in-out;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-content p {
    font-size: 1.5em;
    margin-bottom: 20px;
    background: linear-gradient(90deg,#ffffff, #6c6868, #e5e3e2,#ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeInUp 1.5s ease-in-out;
    animation: slideInUp 1s ease-out;
    
    font-weight: 850;
  }
  
  /* .hero-content .btn-primary {
    background-color: rgba(255, 255, 255, 0.05);
    border-color:grey;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
  }
  
  .hero-content .btn-primary:hover {
    background-color:  rgba(255, 255, 255, 0.05);
    border-color: var(--secondary-color);
    box-shadow: 0 0 15px  #231143;
    transform: scale(1.05);
    
  } */
  
  /* From Uiverse.io by mrhyddenn */ 
  /* button-learnMore {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px 387ADF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  button:hover {
    background:#003285;
    box-shadow: 0 0 10px 3px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button-learnMore :hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  button-learnMore ::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  } */
   /* From Uiverse.io by doniaskima */ 
  
   
  /* From Uiverse.io by niat786 */ 
.learn-more-button {
  border-radius: .25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  height: 40px;
  font-size: 0.7rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: .2s .1s;
  background-image: linear-gradient(90deg,#21424b,#029ff4);
  border: 0 solid;
  overflow: hidden;
}

.learn-more-button:hover {
  cursor: pointer;
  transition: all .3s ease-in;
  padding-right: 30px;
  padding-left: 30px;
}
  
  
  /* About Us Section */
  .parallax-about-us{
    background-color: #000;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--text-color);
    overflow: hidden;
  }
  .parallax-about-us-content{
    border-radius: 20px;
  }
  #about {
    background-color: var(--background-color);
    border-radius: 20px;
    /* box-shadow: 0.5px 0.5px 20px whitesmoke; */
    padding: 100px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    text-align: center;
    position: relative;
    background-image: url('https://www.shutterstock.com/image-photo/investment-technology-financial-return-on-600nw-2132576525.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

#about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: -1;
}

  
  #about h2 {
    color: var(--text-color);
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    animation: fadeIn 1.5s ease-out;
  }
  
  #about p {
    color: var(--text-color);
    position: relative;
    z-index: 1;
  }
  
  
  
  /* Services Section */
  
  .containerr {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
    
  }
  .containerr .glass p{
    padding-left:18px;
    padding-bottom: 10px;;
  }
  
  .containerr .glass {
    position: relative;
    width: 400px; /* Increased width */
    height: 300px; /* Increased height */
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 30px; /* Increased padding */
    font-size: 20px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -60px; /* Adjusted margin to maintain alignment */
    backdrop-filter: blur(10px);
    transform: rotate(calc(var(--r) * 1deg));
    
  }
  
  
  
  
  
  
  .containerr:hover .glass {
    transform: rotate(0deg);
    margin: 0 10px;
  }
  
  .containerr .glass::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .containerr .glass svg {
    font-size: 2.5em;
    fill: #fff;
  }
  /* Parallax Section */
  .parallax-offerings{
    /* background: url('https://www.shutterstock.com/image-photo/businessmans-hand-draws-rising-arrow-600nw-2221463507.jpg') no-repeat center center; */
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--text-color);
    overflow: hidden;
  }
    
  .parallax-offering-content {
    box-shadow: 2px 2px 40px black;
    text-align: center;
    z-index: 2;
    color: var(--text-color);
    transform: translateY(0);
   
    font-family: 'Black Mango', sans-serif;
    animation: fadeInUp 2s ease-out;
  }
  .parallax-offering-content h2{
    font-weight: bold;
    margin-top: 100px;
  }
  .parallax-offering-content p{
    font-weight: 300;
  }
  .row1{
    display: flex;
    flex-direction: column;
  }
  

  /* Contact Section */
  /* #contact h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #9e9595;
  }
  
  #contact p {
    margin-bottom: 30px;
    color: #666;
  }
  
  #contact .form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #ddd;
  }
  
  #contact .btn {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 18px;
  }
  
  .social-icons i {
    margin: 0 10px;
    color: #007bff;
  } */
  
  
  
  /* Contact Section */

  #contact{
    padding: 0 30px 0 30px;
  }
  #contact h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--text-color);
  }
  
  #contact p {
    margin-bottom: 30px;
    color: var(--text-color);
  }
  
  #contact .form-control {
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  #contact .form-control:hover{
    border: 1px solid rgb(255, 255, 255);
  }
  .form-control {
    width: 100%;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  
  #contact .form-control:focus {
    border: none;
    box-shadow: 0 0 5px grey;
  }
  
  /* #contact .btn { */
    /* background-color: 	#003285;
    border:none;
   
    color: var(--text-color);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  #contact .btn:hover {
    background-color:rgb(10, 64, 211);
    border:none;
  } */
  
  /* From Uiverse.io by mrhyddenn */ 
  /* #contact .btn{
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px 387ADF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  #contact .btn:hover {
    background:#003285;
    box-shadow: 0 0 10px 3px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  #contact .btn:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  #contact .btn::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  } */
  
  
  /* From Uiverse.io by niat786 */ 
  #send-message-buton {
  border-radius: .25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  height: 40px;
  font-size: 0.7rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: .2s .1s;
  background-image: linear-gradient(90deg,#1c1c1c,#029ff4);
  border: 0 solid;
  overflow: hidden;
  margin-top: 3em;
}

#send-message-buton:hover {
  cursor: pointer;
  transition: all .3s ease-in;
  padding-right: 30px;
  padding-left: 30px;
}
  .text-center {
    text-align: center;
  }
  
  .footer-link {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 5px; /* Reduced space between links */
  }
  
  /* Spacing for Social Icons */
  .social-links {
    margin-top: 15px;
  }
  
  .social-icon {
    margin: 10px;
    color: white;
    text-decoration: none;
  }
  
  .social-icon i {
    transition: color 0.3s;
  }
  
  .social-icon:hover i {
    color: #ddd; /* Change color on hover if desired */
  }
  
  #footer-padding {
    padding-top: 20px; /* Adjust padding if needed */
  }
  
  
  
  /* Footer */
  .footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 20px 0;
    text-align: center;
    position: relative;
  }
  
  .footer a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .col-md-4 a{
    text-decoration: none;
  }
  #ooter-padding{
    padding-left: 1;
  }
  .footer a:hover {
    text-decoration: underline;
    color: #fff; 
  }
  
  .social-icons a {
    margin: 0 10px;
  }
  .social-icons:hover{
    background-color: #1DA1F2;
  }
  .links{
    margin-bottom: 55px;
    margin-top: 50px;
  }
  /* From Uiverse.io by wilsondesouza */ 
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
  padding: 0.3rem;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: 100%;
  right: 110%;
  transform: translateY(200%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

  
  /* Animations */
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  
  @keyframes slideInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  @keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  @keyframes fadeInBackground {
    from {
        background: rgba(0, 0, 0, 0.1);
    }
    to {
        background: rgba(0, 0, 0, 0.3);
    }
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5em;
    }

  .containerr {
      visibility : hidden;
  }

  .hero-content p {
      font-size: 1.2em;
  }
}

@media (max-width: 375px){
  .hero-content h1 {
      font-size: 2.5em;
  }

    .containerr {
        visibility : hidden;
    }
  
    .hero-content p {
        font-size: 1.2em;
    }
  }
  
  .hits:hover{
    color : var(--primary-color);
  }